__pycache__/
*.pyc
db.sqlite3
.env


# Ignore Python cache
__pycache__/
*.pyc

# Ignore Django databases
db.sqlite3

# Ignore environment
.env


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
ENV/
env/
venv.bak/