{% extends "base.html" %}
{% block title %}
    <title>Index</title>
{% endblock%}
{% block content %}
    <div class="container mt-5">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h6 class="card-text">{{ current_time }}</h6>
                <h6 class="card-text">{{ workers }}</h6>
                <h6 class="card-text">{{ positions }}</h6>
                <h6 class="card-text">{{ tasks }}</h6>
            </div>
        </div>
    </div>
{% endblock %}