{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
<div class="row">
    <div class="col-sm-2"></div>
        <div class="col-sm-8 main-text">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="title-elements">Positions</h1>
                <a class="btn btn-primary" href="{% url 'TaskManager:tasktype-create' %}">+ Create Position</a>
            </div>
            <form method="get" action="" class="d-flex align-items-center mb-3 search">
                {{ search_form|crispy }}
                <button class="btn btn-secondary ms-2" type="submit">🔎 Search</button>
            </form>
                {% if positions_list %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover align-middle">
                        <thead class="table-dark">
                            <tr class="list-elements">
                                <th class="head-element">ID</th>
                                <th class="head-element">Name</th>
                                <th class="head-element">Update</th>
                                <th class="head-element">Delete</th> 
                            </tr>
                        </thead>
                        <tbody class="pos-table-body">
                            {% for position in positions_list %}
                                <tr class="list-elements">
                                    <td>{{position.id}}</td>
                                    <td><a href="{{ position.get_absolute_url }}" class="name">{{ position.name }}</a></td>
                                    <td><a class="btn btn-info" href="{% url 'TaskManager:position-update' pk=position.id %}">Update</a></td>
                                    <td><a class="btn btn-danger" href="{% url 'TaskManager:position-delete' pk=position.id %}" onclick="return confirm('Are you sure?');">Delete</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                    <p class="empty-message"> There is no task types in the list</p>
                {% endif %}
             </div>
        </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}