{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
<div class="row">
    <div class="col-sm-2"></div>
        <div class="col-sm-8 main-text">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="title-elements">Teams</h1>
                <a class="btn btn-primary" href="{% url 'TaskManager:team-create' %}">+ Create Team</a>
            </div>
                {% if teams_list %}
                <table class="table table-striped">
                    <thead class="table-dark">
                        <tr class="list-elements">
                            <th class="head-element">Team Code</th>
                            <th class="head-element">Number of members</th>
                            <th class="head-element">Project</th>
                            <th class="head-element">Update</th>
                            <th class="head-element">Delete</th> 
                        </tr>
                    </thead>
                    <tbody class="pos-table-body">
                        {% for team in teams_list %}
                            <tr class="list-elements">
                                <td><a href="{{ team.get_absolute_url }}" class="name">{{ team.team_code }}</a></td>
                                <td>NN</td>
                                <td><a href="{{ team.project.get_absolute_url }}" class="name">{{team.project.name}}</a></td>
                                <td><a class="btn btn-info" href="{% url 'TaskManager:team-update' pk=team.id %}">Update</a></td>
                                <td><a class="btn btn-danger" href="{% url 'TaskManager:team-delete' pk=team.id %}" onclick="return confirm('Are you sure?');">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p class="empty-message"> There is no teams in the list</p>
                {% endif %}
             </div>
        </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}